venv
.env
app/__pycache__/
app/models/__pycache__/
app/models/data/__pycache__/
app/models/llms/__pycache__/
app/routes/__pycache__/
app/services/__pycache__/
app/services/firebase_services/data/pulzion-app-firebase-adminsdk-s7c7d-39e2f2380b.json
__pycache__
app/services/firebase_services/data/pulzion-app-firebase-adminsdk-s7c7d-a6fe7de60d.json